CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6C403M506=y
#CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6c403m506/mx6q_4x_mt41j128.cfg,MX6Q"
#CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6c403m506/mx6q_W97BH2LBVX2I-2gb.cfg,MX6Q"
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6c403m506/mx6q_W97AH2KBVX2I_1gb.cfg,MX6Q,W97AH2KBVX2I"
#CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6c403m506/mx6q_W979H2KBVX2I_512mb.cfg,MX6Q"
CONFIG_CMD_GPIO=y

